<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cinyi.crawlers.health99.mapper.HospitalMapper">

	<resultMap type="Hospital" id="HospitalResult">
		<id property="id" column="Id" />
		<result column="Name" property="name" jdbcType="VARCHAR" />
		<result column="Alias" property="alias" jdbcType="VARCHAR" />
		<!-- <result column="CityId" property="cityid" jdbcType="VARCHAR" /> -->
		<result column="City" property="city" jdbcType="VARCHAR" />
		<result column="District" property="district" jdbcType="VARCHAR" />
		<result column="Property" property="property" jdbcType="VARCHAR" />
		<result column="Level" property="level" jdbcType="VARCHAR" />
		<result column="Telephone" property="telephone" jdbcType="VARCHAR" />
		<result column="Address" property="address" jdbcType="VARCHAR" />
		<result column="Website" property="website" jdbcType="VARCHAR" />
		<result column="PostCode" property="postCode" jdbcType="VARCHAR" />
		<result column="Medicare" property="medicare" jdbcType="VARCHAR" />
		<result column="Remark" property="remark" jdbcType="LONGVARCHAR" />
		<result column="OfficeList" property="officeList" jdbcType="LONGVARCHAR" />
		<result column="Photo" property="photo" jdbcType="LONGVARBINARY" />
		<result column="BusInfo" property="busInfo" jdbcType="LONGVARCHAR" />
	</resultMap>

	<select id="selectByName" resultMap="HospitalResult">
		select * from hospital where
		name=#{name}
	</select>

	<insert id="insert" parameterType="Hospital" useGeneratedKeys="true"
		keyProperty="id">
		insert into
		hospital
		(Id, Name, Alias,
		City,
		District,
		Property, Level, Telephone,
		Address, Website, PostCode,
		Medicare, Remark, OfficeList,
		Photo,
		BusInfo)
		values
		(#{id,jdbcType=INTEGER}, 
		#{name,jdbcType=VARCHAR},
		#{alias,jdbcType=VARCHAR},
		#{city,jdbcType=VARCHAR},
		#{district,jdbcType=VARCHAR},
		#{property,jdbcType=VARCHAR},
		#{level,jdbcType=VARCHAR},
		#{telephone,jdbcType=VARCHAR},
		#{address,jdbcType=VARCHAR},
		#{website,jdbcType=VARCHAR},
		#{postCode,jdbcType=VARCHAR},
		#{medicare,jdbcType=VARCHAR},
		#{remark,jdbcType=LONGVARCHAR},
		#{officeList,jdbcType=LONGVARCHAR},
		#{photo,jdbcType=LONGVARBINARY},
		#{busInfo,jdbcType=LONGVARCHAR})
	</insert>

	<update id="update" parameterType="Hospital">
		update hospital
		set Name = #{name,jdbcType=VARCHAR},
		Alias = #{alias,jdbcType=VARCHAR},
		City = #{city,jdbcType=VARCHAR},
		District = #{district,jdbcType=VARCHAR},
		Property = #{property,jdbcType=VARCHAR},
		Level = #{level,jdbcType=VARCHAR},
		Telephone = #{telephone,jdbcType=VARCHAR},
		Address = #{address,jdbcType=VARCHAR},
		Website = #{website,jdbcType=VARCHAR},
		PostCode = #{postCode,jdbcType=VARCHAR},
		Medicare = #{medicare,jdbcType=VARCHAR},
		Remark = #{remark,jdbcType=LONGVARCHAR},
		OfficeList = #{officeList,jdbcType=LONGVARCHAR},
		Photo = #{photo,jdbcType=LONGVARBINARY},
		BusInfo = #{busInfo,jdbcType=LONGVARCHAR}
		where Id = #{id,jdbcType=INTEGER}
	</update>

</mapper>