<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cinyi.crawlers.xywy.mapper.BodyIllnessRefMapper">

	<resultMap type="BodyIllnessRef" id="BodyIllnessRefResult">
		<id property="id" column="Id" />
		<result property="bodyId" column="BodyId" />
		<result property="illnessId" column="IllnessId" />
	</resultMap>

	<insert id="insert" parameterType="BodyIllnessRef"
		useGeneratedKeys="true" keyProperty="id">

		INSERT INTO body_illness_ref
		(Id,BodyId,IllnessId)
		VALUES
		(#{id},#{bodyId},#{illnessId})
	</insert>

	<delete id="deleteByBody">
		delete from body_illness_ref where
		bodyId=#{bodyId}
	</delete>

</mapper>