<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cinyi.crawlers.xywy.mapper.DoctorMapper">

	<resultMap type="Doctor" id="DoctorResult">
		<id property="id" column="Id" />
		<result property="name" column="Name" />
		<result property="jobTitle" column="JobTitle" />
		<result property="hospitalName" column="HospitalName" />
		<result property="officeName" column="OfficeName" />
		<result property="goodAt" column="GoodAt" />
		<result property="cureIllness" column="CureIllness" />
	</resultMap>
	
	<select id="selectAll" resultMap="DoctorResult">
		select * from doctor
	</select>

	<select id="selectByName" resultMap="DoctorResult">
		select * from doctor where
		name=#{name}
	</select>
	
	<select id="selectByNameAndHospital" resultMap="DoctorResult">
		select * from doctor where
		name=#{name}
		and HospitalName=#{hospitalName}
		and OfficeName=#{officeName}
	</select>

	<insert id="insert" parameterType="Doctor" useGeneratedKeys="true"
		keyProperty="id">
		INSERT INTO
		doctor
		(Name,JobTitle,HospitalName,OfficeName,GoodAt,CureIllness)
		values
		(#{name},#{jobTitle},#{hospitalName},#{officeName},#{goodAt},#{cureIllness})
	</insert>

	<update id="update" parameterType="Doctor">
		UPDATE doctor
		SET
		JobTitle=#{jobTitle},
		HospitalName=#{hospitalName},
		OfficeName=#{officeName},
		GoodAt=#{goodAt},
		CureIllness=#{cureIllness}
		where Id=#{id}
	</update>

</mapper>