<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cinyi.crawlers.xywy.mapper.SpecialtyMapper">

	<resultMap type="Specialty" id="SpecialtyResult">
		<id property="id" column="Id" />
		<result property="name" column="Name" />
		<result property="parentId" column="ParentId" />
		<result property="treePath" column="TreePath" />
		<result property="hotIllnessRef" column="HotIllnessRef" />
		<result property="illnessRef" column="IllnessRef" />
	</resultMap>

	<select id="selectAll" resultMap="SpecialtyResult">
		select * from specialty
	</select>

	<select id="selectByName" resultMap="SpecialtyResult">
		select * from specialty
		where
		name=#{name}
	</select>

	<insert id="insert" parameterType="Specialty" useGeneratedKeys="true"
		keyProperty="id">

		insert into
		specialty
		(ParentId,Name,TreePath,HotIllnessRef,IllnessRef)
		values
		(#{parentId},#{name},#{treePath},#{hotIllnessRef},#{illnessRef})
	</insert>

	<update id="update" parameterType="Specialty">
		UPDATE specialty SET
		ParentId=#{parentId},
		Name=#{name},
		TreePath=#{treePath},
		HotIllnessRef=#{hotIllnessRef},
		IllnessRef=#{illnessRef}
		where Id=#{id}
	</update>

</mapper>